@media (max-width:1211px) {
    .header-body {
        width: 100%;
        padding: 0 40px;
        .logo-wrap {
            width: 245px;
        .active-logo {
            width: 120.4px;
        }
        .box-logo {
            width: 60.41px;
        }
                    }
         .menu {
             width: 580px;
                    }
        .main-content {
            h1 {
                width: 1000px;
                font-size: $fs2;
                    }
        .text{
                width: 1000px;
                font-size: $fs5;
                    }
                    }
                    }
    }

@media (max-width: 1024px) {
.container {
    max-width: 1024px;
}
.header-body{
    padding: 36px;
.logo-wrap {
    width: 231px;
    .active-logo {
        width: 120.4px;
    }
    .box-logo {
        width: 60.41px;
    }
} 
.menu {
    width: 566px;
    .nav-link {
        font-size: $fs5;
    }
}
.main-content {
h1 {
    width: 984px;
    font-size: $fs7;
}
.text{
    width: 984px;
    font-size: $fs5;
}
}
}
.inform {
    padding: 45px 15px;
    .first-three {
        width: 984px;
        padding-bottom: 45px;
    }
    .second-three {
        width: 984px;
    }
    .card-wrap-inform {
        width: 314px;
    }
    .card-img-inform {
        width: 85px;
        height: 85px;
    }
    .card-title-inform{
        font-size: $fs5;
    }
    .inform-card-text {
        font-size: $fs8;
    }

}
.pj-name {
    .grid-item {
        width: 256px;
        height: 230px;
    }
  .grid-3-title{
    width: 257px;
    font-size: $fs5;
    margin-top: 70px;
    margin-bottom: 20px;
  }
   .grid-3-text{
    width: 257px;
    font-size: $fs8;
   }
   
}
.workers {
    padding: 79px 16px;
    .workers-wrap-card{
        width: 227px;
    }
    .img-workers{
        width: 227px;
        height: 227px;
        margin-bottom: 24px;
           img {
            height: 100%;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
            object-position: center;
           }
            }
    .worker {
        font-size: $fs5;
        margin-bottom: 5px;
    }
    .profession{
        font-size: $fs8;
        margin-bottom: 24px;
    }
    .workers-card-text{
        font-size: $fs8;
        margin-bottom: 32px;
    }
    .icons-item {
        width: 32px;
        height: 32px;
    }
}
.slider {
 width: 1024px;
   .img-slider-wrapper {
    width: 502px;
   }
   .left-part-slider {
     .slider-title {
        font-size: $fs4;
        margin-bottom: 5px;
     }
     .slider-text {
        font-size: $fs9;
     }
   }
}
.download{
    padding: 80px 234px;
    .title {
        font-size: $fs4;
    }
    .text {
        font-size: $fs8;
    }
}
.btn {
    font-size: $fs4;
    }
.btn-link {
    font-size: $fs4;
}
.btn-header{
    width: 355px;
}
.btn-dowload {
    width: 355px;
}
.footer {
    .wrap-footer{
        padding: 40px 0 0 0;
    }
    .left{
        width: 315px;
        .location {
            font-size: $fs8;
        }
        .text-location {
            font-size: $fs8;
        }
    }
    .center {
        width: 315px;
         .center {
            font-size: $fs8;
         }
         .center-icons-item {
            width: 33px;
            height: 33px;
        }
    }
    .right{
        width: 315px;
        .right-title{
            font-size: $fs8;
        }
        .right-text {
            font-size: $fs8;
        }
    }
    .text-copyright {
        font-size: $fs8;
        width: 314px;
    }
}
}

@media (max-width: 320px) {
    .container{
        max-width: 320px;
    }
    .header{
         .header-body { background-image: color(rgb(37,43,73)), url(../img/img\ \(2\).png);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            padding: 0;
        }
      
        .navigation-wrap {
            position: fixed;
            width: 100%;
            top: -100%;
            left: 0;
            z-index: 50;
            background-color: $color_7;
            padding: 70px 10px 20px 10px;
            transition: 0.3s;
        }
        .navigation-wrap:active{
            top: 0;
        }
        .navigation-wrap ::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color_7;
            
        }


        .logo-wrap {
            position: relative;
            z-index: 51;
            width: 130px;
            height: 55px;
            align-items: center;

               .active-logo {
                max-width: 100%;
               } 
               .box-logo {
                max-width: 100%;
               }
            
        }
             .menu { 
            display: none;
            position: relative;
            width: 30px;
            height: 20px;
            transition: 0.2s;
        }
         .menu::before {
            content: "";
            background-color: $color_11;
            width: 100%;
            height: 2px;
            left: 0;
            top: 0;
            z-index: 55;
         }
         .nav-list::after {
            position: absolute;
            background-color: $color_11;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            z-index: 55;
         }
         .menu::after {
            content: "";
            background-color: $color_11;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 0;
            z-index: 55;
         }
        .menu:active::before{
            transform: rotate(45deg);
            top: 9px;
        }
        .menu:active::after{
            transform: rotate(45deg);
            bottom: 9px;
        }

        .nav-list:active::after{
           transform: scale(0);
        }

          .nav-list {
            display: block;
            transition: 0.2s;
                    }

        .nav-list-item {
            margin: 0 0 20px 0;
        }
        .nav-link {
            
        }
        .main-content {
            padding: 60px 0 0 0;
         h1 {
            font-size: $fs2;
            width: 280px;
         }
        .text {
            width: 280px;
            p {
          font-size: $fs8;       
            }
                   }
        .btn-header {
            width: 280px;
        }
        .btn {
            font-size: $fs4;
        }
    }

        
    }

}