.header-body { 
  @include header-bkr;
  width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
  padding: 0 170px;
	           }


.navigation-wrap {
       
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid $color_6;
           }

.logo-wrap {
    width: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
                  }

.menu {
    width: 670px;
        .nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 -1px;

         .nav-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 1px;
     
             
      .nav-link { 
        text-transform: uppercase;
    font-family: $font_1;
    font-size: $fs6;
    font-weight: 600;
    color: $color_1;
    padding: 35px 34px;
              }
    }
  }
}

.nav-link:hover {
  border-bottom: 3px solid $color_6;
  
}
.nav-link:active {
  border-bottom: 3px solid $color_16;

}

.main-content {
    margin-top: 115px;
      
          h1 {
    font: $font_1;
    font-size: $fs1;
    color: $color_1;
    text-align: center;
    width: 1170px;
    margin: 0 auto 42px;
 }

      .text p {
    color: $color_1;
    font-family: $font_1;
    font-size: $fs4;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 80px;
    width: 1170px;
    }
      .btn-header {
        @include btn;
             .btn {
          @include btn-text;
         }
              }
         }

.btn-header:hover{
  @include btn-hover;
       } 

.btn-header:active {
  @include btn-active;}

