@import "./nullstyle.scss";
@import "./cdn";
@import "./var";
@import "./mixins";
@import "./header.scss";
@import "./inform.scss";
@import "./pj-name.scss";
@import "./workers.scss";
@import "./download.scss";
@import "./footer.scss";
@import "./swiper.scss";
@import "./media";


html {
    font-family: "Raleway", "Cardo", sans-serif;
}

.container{
    max-width: 1510px;
    margin: 0 auto;
}
