@import "./nullstyle.scss";
@import "./cdn";
@import "./var";
@import "./mixins";
@import "./header.scss";
@import "./inform.scss";
@import "./pj-name.scss";
@import "./workers.scss";
@import "./download.scss";

html {
    font-family: "Raleway", "Cardo", sans-serif;
}

.container{
    max-width: 1510px;
    padding: 0 15px;  
}
